@model FanCentral2.Models.ViewModels.BrowseProductCategories

<footer>
      <section class="footer-container">
        <section class="footer-inline"><!--Customer Service-->
          <h3>Customer Service</h3>
            <ul class="footer-block">
              <li class="footer-links">
                <a href="help.html" class="footer-link-hover">Help</a>
              </li>
              <li class="footer-links">
                <a href="trackorder.html" class="footer-link-hover">Track Order</a>
              </li>
              <li class="footer-links">
                <a href="sizechart.html" class="footer-link-hover">Size Chart</a>
              </li>
            </ul>
        </section>
        <section class="footer-inline"><!--Worry Free Shopping-->
          <h3>Worry Free Shopping</h3>
            <ul class="footer-block">
              <li class="footer-links">
                <a href="safeshopping.html" class="footer-link-hover">Safe Shopping</a>
              </li>
              <li class="footer-links">
                <a href="shippingrates.html" class="footer-link-hover">Shipping Rates</a>
              </li>
              <li class="footer-links">
                <a href="jerseyassurance.html" class="footer-link-hover">Jersey Assurance</a>
              </li>
            </ul>
        </section>
        <section class="footer-inline"><!--Information-->
          <h3>Information</h3>
          <ul class="footer-block">
            <li class="footer-links">
              <a href="about.html" class="footer-link-hover">About Us</a>
            </li>
            <li class="footer-links">
              <a href="proshop.html" class="footer-link-hover">Pro Shop</a>
            </li>
            <li class="footer-links">
              <a href="jagsapparrel.html" class="footer-link-hover">Jags Apparrel</a>
            </li>
          </ul>
        </section>
        <section class="footer-coupon">
          <section class="footer-coupon-container">
            <p class="center-aligned">Stay updated on sales, new items and more</p>
            <a href="login.html">
              <div id="button-div">SIGN UP &amp SAVE 10%</div>
            </a>
          </section>
        </section>
      </section>
      <section class="footer-2-container">
        <p class="center-aligned">FanCentral, Inc., All Rights Reserved. No portion of this site may be reproduced or duplicated without the express permission of FanCentral, Inc.</p>
      </section>
	  </footer>