@model FanCentral2.Models.ViewModels.BrowseProductCategories

<section class="top-header"><!--This is the topmost banner-->
  <div class="header-coupon-container">
    <a href="login.html">
      <div class="savings-header-position" id="button-div">Sign Up &amp Save 10%</div>
    </a>
  </div>
  <div class="top">
    <a href="cart.html">
      <div class="cart-position">
        <img src="~/Images/Icons/shopping-cart.png" class="cart-icon-size" />
      </div>
    </a>
    <a href="trackorder.html" class="top-links">Track Order</a>
    <a href="login.html" class="top-links">My Account</a>
  </div>
  </section>
  <div class="bottom-header-container"><!-- This is the sticky portion of the header -->
    <div class="logo-home">
      <a asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/Images/fancentral-logo.png" alt="FanCentral Logo" class="logo"/>
      </a>
    </div>
    <div class="deal-link">
      <div class="deal-message-1">Cyber Monday:</div>
      <div class="deal-message-2">25% off ALL MERCH</div>
      <div class="deal-message-3">ENTER</div>
      <div class="deal-message-4">CODE</div>
      <div class="deal-message-5">[STACHE]</div>
      <div class="deal-message-6">...and get a free mustache</div>
      <div class="deal-message-7">...or grow one like a man</div>
      <div class="deal-message-8">#minshewmustache</div>
      <div class="deal-message-9">#fancentraldeals</div>
      <div class="minshew-container-1">
        <img src="~/Images/minshew-thinking-cartoon-300px.png" class="minshew-cartoon-1" />
      </div>
      <div class="minshew-container-2">
        <img src="~/Images/minshew-happy-cartoon-300px.png" class="minshew-cartoon-2" />
      </div>
      <a href="deals.html">
        <div class="clickable-div"></div>
      </a>
    </div>
    <div class="search-window"><!-- The search window that uses many transitions and animations-->
      <img src="~/Images/Icons/search-icon.png" class="search-icon-size" />
      <form>
        <input type="text" name="search" placeholder="Search"/>
      </form>
      <div class="parent-box">
        <a asp-controller="Categories" asp-action="Index" asp-route-id="1">
          <div class="child-box">
          <!-- Men Icon -->
            <img src="~/Images/Icons/running-man-icon-100px.png" class="image-visibility" />
            <span class="icon-text">men</span>
            <span class="shop-text">SHOP NOW</span>
          </div>
        </a>
        <a asp-controller="Categories" asp-action="Index" asp-route-id="2">
          <div class="child-box">
          <!-- Women Icon -->
            <img src="~/Images/Icons/woman-running-icon-100px.png" class="image-visibility" />
            <span class="icon-text">women</span>
            <span class="shop-text">SHOP NOW</span>
          </div>
        </a>
        <a asp-controller="Categories" asp-action="Index" asp-route-id="3">
          <div class="child-box">
          <!-- Kids Icon -->
            <img src="~/Images/Icons/kids-icon-100px2.png" class="image-visibility" />
            <span class="icon-text">kids</span>
            <span class="shop-text">SHOP NOW</span>
          </div>
        </a>
        <a asp-controller="Categories" asp-action="Index" asp-route-id="4">
          <div class="child-box">
          <!-- Jerseys -->
            <img src="~/Images/Icons/jersey-icon-100px.png" class="image-visibility" />
            <span class="icon-text">jerseys</span>
            <span class="shop-text">SHOP NOW</span>
          </div>
        </a>
        <a asp-controller="Categories" asp-action="Index" asp-route-id="5">
          <div class="child-box">
          <!-- T-Shirts -->
            <img src="~/Images/Icons/tshirt-icon-100px2.png" class="image-visibility" />
            <span class="icon-text">t-shirts</span>
            <span class="shop-text">SHOP NOW</span>
          </div>
        </a>
        <a asp-controller="Categories" asp-action="Index" asp-route-id="6">
          <div class="child-box">
          <!-- Sweatshirts -->
            <img src="~/Images/Icons/sweat-shirt-icon-100px.png" class="image-visibility" />
            <span class="icon-text">sweatshirts</span>
            <span class="shop-text">SHOP NOW</span>
          </div>
        </a>
        <a asp-controller="Categories" asp-action="Index" asp-route-id="7">
          <div class="child-box">
          <!-- Hats -->
            <img src="~/Images/Icons/hats-icon-100px.png" class="image-visibility" />
            <span class="icon-text">hats</span>
            <span class="shop-text">SHOP NOW</span>
          </div>
        </a>
        <a asp-controller="Categories" asp-action="Index" asp-route-id="8">
          <div class="child-box">
          <!-- Accessories -->
            <img src="~/Images/Icons/accessories-icon-100px2.png" class="image-visibility" />
            <span class="icon-text">accessories</span>
            <span class="shop-text">SHOP NOW</span>
          </div>
        </a>
        <a asp-controller="Categories" asp-action="Index" asp-route-id="9">
          <div class="child-box">
          <!-- Collectibles -->
            <img src="~/Images/Icons/collectibles-football-icon-100px.png" class="image-visibility" />
            <span class="icon-text">collectibles</span>
            <span class="shop-text">SHOP NOW</span>
          </div>
        </a>
        <a asp-controller="Categories" asp-action="Index" asp-route-id="10">
          <div class="child-box">
          <!-- Home & office -->
            <img src="~/Images/Icons/home-and-office-icon-100px.png" class="image-visibility" />
            <span class="icon-text">home &amp office</span>
            <span class="shop-text">SHOP NOW</span>
          </div>
        </a>
        <div class="child-box-logo">
          <img src="~/Images/fancentral-logo.png" alt="FanCentral Logo" class="logo-thumbnail"/>
        </div>
        <a asp-controller="Categories" asp-action="Index" asp-route-id="11">
          <div class="child-box">
          <!-- Clearance -->
            <img src="~/Images/Icons/clearance-icon-100px.png" class="image-visibility" />
            <span class="icon-text">clearance</span>
            <span class="shop-text">SHOP NOW</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>