@model GuestOrder

<h2>Check out now</h2>
<p>Please enter your details, and we'll ship your goods right away!</p>

<div asp-validation-summary="All"></div>

<form asp-action="Checkout" method="post">
    <h3>Ship to</h3>
    <div>
        <label>Name:</label><input asp-for="Name" class="checkout-input"/>
    </div>
    <h3>Address</h3>
    <div>
        <label>Line 1:</label><input asp-for="Line1" class="checkout-input"/>
    </div>
    <div>
        <label>Line 2:</label><input asp-for="Line2" class="checkout-input"/>
    </div>
    <div>
        <label>Line 3:</label><input asp-for="Line3" class="checkout-input"/>
    </div>
    <div>
        <label>City:</label><input asp-for="City" class="checkout-input"/>
    </div>
    <div>
        <label>State:</label><input asp-for="State" class="checkout-input"/>
    </div>
    <div>
        <label>Zip:</label><input asp-for="Zip" class="checkout-input"/>
    </div>
    <div>
        <label>Country:</label><input asp-for="Country" class="checkout-input"/>
    </div>
    <h3>Options</h3>
    <div>
        <label>
            <input asp-for="GiftWrap" /> Gift wrap these items
        </label>
    </div>
    <div class="cart-button-container">
        <input type="submit" value="Complete Order" class="in-cart-button"/>
    </div>
</form>