@{
    ViewData["Title"] = "About Us";
}	

<!-- image -->
<br />
<img src="~/Images/About/our promise.png" width="42%" height="30%" class="about-us-image" /> 
<!-- Our Business box -->
<div class= "our-business">
	<center>
		<h3 style="  text-decoration: underline;"> <b> Our Business </b></h3>
	</center>
	<p> 
		Founded in 2019, FanCentral is an e-commerce retail and partial 
		manufacturing company focused primarily on the selling of sports 
		merchandise for the Jacksonville Jaguars team. We are also a global
		leader in our business and as well as produce (manufacture) there own
		products 
	</p>
</div>
<!-- Our Promise box -->
<div class= "our-promise">
	<center>
		<h3 style="  text-decoration: underline;"> <b> Our Promise </b></h3>
	</center>
	<p> 
		We promise to provide only high-quality 
		sports merchandise and apparel for our 
		customers. This promise is credible through
		our numerous partnerships, which includes 
		companies like New Era, Nike, and Under Armor,
		to name a few 
	</p>
</div>
<!-- Our Contacts box -->
<div class= "our-contacts">
	<center>
		<h3 style="  text-decoration: underline;" > <b> Our Contacts Information </b></h3>
	</center>
	<p> 
		Main Office/General Questions: 904-222-3333
		IT/Account Support: 904-232-3223
		Email: fancentral@yahoo.com
		Location: 1 UNF Drive Jacksonville FL, 32224.
	</p>
</div>
<br />
