@{
    ViewData["Title"] = "Home Page";
}

<main class="main-container"><!--This is the browse section (includes linked pictures)-->
    <section class="salute-link"><!--salute to service-->
        <h2 style = text-align:center>Salute to Service</h2>
		<img src="~/Images/Index/salute grouped.png" alt="Salute pictures" class="salute" usemap="#logos">
			<map name="logos">
			    <area shape="rect" coords="62,80,453,556" alt="long sleeve beige" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="12">
			    <area shape="rect" coords="550,59,890,368" alt="cap" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="12">
			    <area shape="rect" coords="1016,0,1275,410"  alt="jacket" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="12">
			    <area shape="rect" coords="1469,0,1728,410"  alt="blue long sleeve" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="12">
			</map>
    </section>
    <section class="wear-link"><!--Wear Collection-->
		<center>
		    <a asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="14">
				<h2 style = text-align:center>Wear Collection</h2>
				<img src="~/Images/Index/WearCollection.png" alt="Brand Logos" class= "wear">
			</a>
		</center>
	</section>
    <section class="nfl100-link"><!--NFL 100-->
        <center>
			<a asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="13">
				<h2 style = text-align:center>NFL 100</h2>
				<img src="~/Images/Index/NFL100.png" alt="Brand Logos" class="NFL100">
			</a>
		</center>
    </section>

	<center>
        <section class="minshew-link"><!--Gardner Minshew II-->
		    <a asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="15">
			    <h2 style = text-align:center>Gardner Minshew II</h2>
		    </a>

			<a asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="15">
				<img src="~/Images/Index/Minshew Gray Sweeter.png" alt="Brand Logos" class="Minshew">
			</a>

			<a asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="15">
				<img src="~/Images/Index/Minshew Figure.png" alt="Brand Logos" class="Minshew Figure">
			</a>

			<a asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="15">
				<img src="~/Images/Index/Minshew Black Jacket.png" alt="Brand Logos" class="Minshew Figure">
			</a>
        </section>
	</center>

    <section class="retired-link"><!--Retired Players-->
		<center>
			<a asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="17">
				<h2>Retired Players</h2>
				<img src="~/Images/Index/Retired Player.png" alt="Brand Logos" class="Retired-Players">
			</a>
		</center>
    </section>
    <section class="season25-link"><!--25th Season-->
		<center>
			<a asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="16">
				<h2>25<sup>th</sup> Season</h2>
				<img src="~/Images/Index/25th Season.png" alt="Brand Logos" class="twentyfifth-Season">
			</a>
		</center>
    </section>
    <section class="brand-link"><!--Shop By Brand-->
	    <a asp-area="" asp-controller="Categories" asp-action="Index">
            <h2>Shop by brand</h2>
		</a>
        <img src="~/Images/Index/logos.png" alt="Brand Logos" usemap="#logos">
        <map name="logos">
            <area shape="rect" coords="62,5,315,128" alt="new era logo" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="18">
            <area shape="rect" coords="419,9,640,132" alt="under armour logo" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="18">
            <area shape="rect" coords="745,8,1062,131" alt="nike logo" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="18">
            <area shape="rect" coords="1098,27,1439,122" alt="mitchell & ness logo" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="18">
            <area shape="rect" coords="1488,27,1846,117" alt="majestic athletic logo" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="18">
        </map>
    </section>
    <section class="sideline-link"><!--Sideline Collection-->
        <a asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="19">
            <img src="~/Images/Index/(transparent) Men's Nike Black Jacksonville Jaguars Sideline Scrimmage Performance Long Sleeve Hoodie T-Shirt.png" alt="Men's Nike Black Jacksonville Jaguars Sideline Scrimmage Performance Long Sleeve Hoodie T-Shirt" style="float:left;width:400px;length:400px;">
        </a>
        <a asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="19">
            <img src="~/Images/Index/(transparent) Men's Nike Jacksonville Jaguars Tan 2019 Salute to Service Sideline Therma Pullover Hoodie.png" alt="Men's Nike Jacksonville Jaguars Tan 2019 Salute to Service Sideline Therma Pullover Hoodie" style="float:right;width:400px;length:400px;">
        </a>
        <h2 style = text-align:center;font-size:40px;>Sideline Collection</h2>
        <p class="sideline-link-text"> Browse the official 2019 sideline collection of the Jacksonville Jaguars</p>
    </section>
    <section class="players-link"><!--Players-->
        <h2 style ="text-align:center; font-size:40px;">SHOP BY YOUR FAVORITE PLAYER</h2>
        <img src="~/Images/Index/Players Merch.png" alt="Calais Cambell, Leonard Fournette, Nick Foles, Yannick Ngakoue" usemap="#players">'
        <map name="players">
            <area shape="rect" coords="47,53,450,554" alt="Calais Cambell" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="20">
            <area shape="rect" coords="497,53,900,554" alt="Leonard Fournette" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="20">
            <area shape="rect" coords="949,53,1352,554" alt="Nick Foles" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="20">
            <area shape="rect" coords="1399,53,1802,554" alt="Yannick Ngakoue" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="20">
        </map>
    </section>
    <section class="customgear-link"><!--Custom Gear-->
        <a asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="21">
            <img src="~/Images/Index/(transparent) Men's Nike Teal Jacksonville Jaguars Custom Alternate Game Jersey.png", alt="Men's Nike Teal Jacksonville Jaguars Custom Alternate Game Jersey" style="float:left;width:400px;length:400px;">
        </a>
        <a asp-area="" asp-controller="Categories" asp-action="Index asp-route-id="21">
            <img src="~/Images/Index/(transparent) Men's Nike Black Jacksonville Jaguars Custom Team Color Game Jersey.png", alt="Men's Nike Black Jacksonville Jaguars Custom Team Color Game Jersey" style="float:right;width:400px;length:400px;">
        </a>
        <h2 style = text-align:center;font-size:40px;>Custom Gear</h2>
        <p class="customgear-link-text"> Create your own unique gear with your choice of Name and Jersey Number</p>
    </section>
</main>